.input-wrapper {
  position: relative;
  width: 75%;
  margin-top: 24px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 20px 15px;
  font-size: 1.25rem;
  border-radius: 10px;
  background-color: #1b1b1b;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.search-icon:hover {
  background-color: var(--main-color);
  color: #000000;
}

.title-input-container input {
  width: 100%;
  height: 72px;
  border-radius: 11px;
  border: none;
  padding: 0 16px;
  font-size: 1rem;
}
