:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #ffd15b;

  --main-family-font: "Anton", sans-serif;
  --secondary-family-font: "Manrope", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: var(--secondary-family-font);
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
